.MintOwnDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 30px;
}

.DeployedDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 30px;
}

.DeployedDiv h3{
    width: fit-content;
    margin: auto;
    font-size: 2rem;

}


